<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Employees Data</title>
    <link rel="stylesheet" href='{% static '/css/demo.css' %}'> 
</head>
<body>
    <h1>The Employees List is:</h1><hr>
    {% if emp_list %}
    <table class="center">
        
        <thead>
            <th>Employee_No</th>
            <th>Eoployee_Name</th>
            <th>Employee_Salary</th>
            <th>Employee_Address</th>
        </thead>
    {% for emp in emp_list %}
    <tr>
        <td>{{emp.Employee_No}}</td>
        <td>{{emp.Eoployee_Name}}</td>
        <td>{{emp.Employee_Salary}}</td>
        <td>{{emp.Employee_Address}}</td>
    </tr>
    {% endfor %}
    </table>
    {% else %}
    <p>No Records Found</p>
    {% endif %}
</body>
</html>