<!DOCTYPE html>
{% extends 'testapp/base.html' %}

{% block title_block %}
<title>Home Page</title>
{% endblock %}

{%block body_block%} 
    <div class="jumbotron">
        <div class="container">
                <h1>Welcome to Durga Exams</h1>
                <h2>Rules:</h2>
                <ul>
                    <li>Rule-1: This is Rule Number 1</li>
                    <li>Rule-2: This is Rule Number 2</li>
                    <li>Rule-3: This is Rule Number 3</li>
                    <li>Rule-4: This is Rule Number 4</li>
                    <li>Rule-5: This is Rule Number 5</li>
                    <li>Rule-6: This is Rule Number 6</li>
                    <li>Rule-7: This is Rule Number 7</li>
                    <li>Rule-8: This is Rule Number 8</li>
                    <li>Rule-9: This is Rule Number 9</li>
                </ul>
        </div>
    </div>
{%endblock%}    