<!DOCTYPE html>
{% extends 'testapp/base.html' %}

{%block body_block%} 
    <div class="jumbotron">
        <div class="container">
                <h1>You are Logout Successfully</h1>
                <p>Thanks for visiting</p>
                <p>Anyway we are feeling very sad,
                    because You are logout atleast 24 hours per day you have to spend with our website like facebook
                </p>
                <h3>Please Login Again</h3>
                <a href="/accounts/login" class="btn btn-primary btn-lg btn-success">Login</a>
        </div>
    </div>
{%endblock%}    