<!DOCTYPE html>
{% extends 'account/base.html' %}

{% block title_block %}Login{% endblock %}


    {%block body_block%} 
    {% if messages %}
    {% for message in messages %}
    <p {% if message.tags %} class="alert alert-{{message.tags}} mb-6" {% endif %}>{{message}}</p>
    {% endfor %}
    {% endif%}
<form action="" method="post">
    {% csrf_token %}
    {% for fm in forms %}
    {{fm.label_tag}} {{fm}} {{fm.errors}}<br><br>
    {% endfor %}
    <input type="submit"  value="Login">
</form>
{%endblock%}     