body{
    text-align: center;
    background-color: aqua;
    

}
table, th, td {
    border: 1px solid black;
    text-align: center;
  }
table{
    text-align: center;
}
.center {
    margin-left: auto;
    margin-right: auto;
  }