{% extends 'base.html' %}
{% block title %} Sing In {% endblock %}
{% block content %}
    <div class="row">
        <div class="col-md-8 mx-auto social-container my-2 order-mid-1">
            <button class="btn btn-primary mb-2">
                <a href="{% url 'social:begin' 'linkedin-oauth2' %}">
                    Login With LINKEDIN
                </a>
            </button>
        </div>
        <div class="col-md-8 mx-auto social-container my-2 order-mid-1">
            <button class="btn btn-primary mb-2">
                <a href="{% url 'social:begin' 'facebook' %}">
                    Login With FACEBOOK
                </a>
            </button>
        </div>
    </div>
{% endblock %}