<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Aggregate Informations</h1>
    <ul>
        <li><h3>Average Salary: {{avg}}</h3></li>
        <li><h3>Minimum Salary: {{min}}</h3></li>
        <li><h3>Maximum Salary: {{max}}</h3></li>
        <li><h3>Number of Employee who got Salary: {{count}}</h3></li>
        <li><h3>Sum of Salary: {{sum}}</h3></li>
    </ul>
</body>
</html>