<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Astrology Page</title>
    <style>
        body{
            background: red;
            color: white;
        }
        span{
            color: yellow;
        }
    </style>
</head>
<body>
    <h1>Hello Freind, <span>{{wish}}</span></h1>
    <h2>Now The Server Time is: <span>{{time}}</span></h2><hr>
    <h1>Astrology Info : <span>{{msg}}</span></h1>
    <h2>Very soon, You are going to get marriage with <span>{{name}}</span></h2>
</body>
</html>